# General
.DS_Store
*.log
.vscode/

# Node / Frontend
node_modules/
.next/
out/
build/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Java / Backend
**/target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# IDE specific
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/
